name: Publish to PyPI

on:
  workflow_run:
    workflows: ['Tests']
    types:
      - completed
    branches:
      - master
    # tags:
    #   - 'v*'
    #   - '[0-9]+.[0-9]+.[0-9]+'
    #   - '[0-9]+.[0-9]+.[0-9]+-*'

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    if: |
      github.event_name == 'workflow_run' &&
      github.event.workflow_run.event != 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for creating GitHub Releases

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.head_sha || github.sha }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine

      - name: Build package
        run: python -m build

      - name: Check package with Twine
        run: twine check dist/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*
          generate_release_notes: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
